@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(15px) brightness(70%);
  transform: scale(1.1);
}

.section {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: fixed;
  z-index: 1;
  /* display: flex; */
  /* align-items: center; */
  /*justify-content: center;*/
  /* padding-top: 70px; */
  color: white;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 2rem;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 390px;
}

.input-button-group {
  display: flex;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.input {
  flex: 1;
  background: transparent;
  outline: none;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 8px 16px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}

.button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.location-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.location {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.fa-location-dot {
  font-size: 20px;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.temperature {
  font-size: 30px;
  font-weight: 500;
  text-align: right;
}

.main {
  font-size: 25px;
  line-height: 1.2;
}

.humidity-wind-speed-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  line-height: 1.5;
}

.humidity-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.wind-speed-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.fa-droplet {
  font-size: 25px;
}

.fa-wind {
  font-size: 25px;
}

.humidity-degree {
  font-weight: 600;
}

.wind-speed-m-s {
  font-weight: 600;
}

.weather-carousel-list {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Включает "магнитный" эффект */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* Плавность для iOS */
  padding-bottom: 20px;
}

.weather-carousel-list::-webkit-scrollbar {
  height: 8px;
}

.weather-carousel-list::-webkit-scrollbar-track {
  background: transparent;
}

.weather-carousel-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый */

  /* Эффект стекла */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 20px; /* Идеально круглые края */
  border: 2px solid transparent; /* Создает отступ внутри трека */
  background-clip: content-box; /* Чтобы border работал как отступ */

  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); /* Чуть ярче при наведении */
  background-clip: content-box;
}

.weather-carousel-item {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  white-space: nowrap;
}

.carousel-image {
  margin-block: 10px;
}

